{% assign navbar_pages = site.pages | where_exp: "_page", "_page.navbar_order >= 1" | sort: "navbar_order" %}

<nav class="navbar">
    <ul class="navbar-list">
        {% for link in navbar_pages %}
            <li class="navbar-item test">
                <a class="navbar-link {% if page.url == link.url %}active{% endif %}" href="{{ link.url }}">{{ link.title }}</a>
            </li>
        {% endfor %}
    </ul>
</nav>