{% assign projectCategories = site.projects | group_by: "category" | sort: "name" %}
<ul class="filter-list">
    <li class="filter-item">
        <button class="active" data-filter-btn>All</button>
    </li>

    {% for projectCategory in projectCategories %}
        <li class="filter-item">
            <button data-filter-btn>{{ projectCategory.name }}</button>
        </li>
    {% endfor %}
</ul>

<div class="filter-select-box">
    <button class="filter-select" data-select>
        <div class="select-value" data-selecct-value>Select category</div>
        <div class="select-icon">
            <ion-icon name="chevron-down"></ion-icon>
        </div>
    </button>

    <ul class="select-list">
        <li class="select-item">
            <button data-select-item>All</button>
        </li>
        {% for projectCategory in projectCategories %}
            <li class="select-item">
                <button data-select-item>{{ projectCategory.name }}</button>
            </li>
        {% endfor %}
    </ul>
</div>