<nav class="navbar">
    <ul class="navbar-list">
        <li class="navbar-item">
            <a class="navbar-link {% if page.path == '/' %}active{% endif %}" href="/">About</a>
        </li>
        <li class="navbar-item">
            <a class="navbar-link {% if page.path == '/resume' %}active{% endif %}" href="/resume">Resume</a>
        </li>
        <li class="navbar-item">
            <a class="navbar-link {% if page.path == '/portfolio' %}active{% endif %}" href="/portfolio">Portfolio</a>
        </li>
        <li class="navbar-item">
            <a class="navbar-link {% if page.path == '/blog' %}active{% endif %}" href="/blog">Blog</a>
        </li>
        <li class="navbar-item">
            <a class="navbar-link {% if page.path == '/contact' %}active{% endif %}" href="/contact">Contact</a>
        </li>
    </ul>
</nav>