<section class="timeline">

    <div class="title-wrapper">
        <div class="icon-box">
            <ion-icon name="book-outline"></ion-icon>
        </div>

        <h3 class="h3">Experience</h3>
    </div>

    <ol class="timeline-list">

        <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Creative director</h4>

            <span>2015 — Present</span>

            <p class="timeline-text">
                Nemo enim ipsam voluptatem blanditiis praesentium voluptum delenit atque corrupti, quos dolores et qvuas
                molestias
                exceptur.
            </p>

        </li>

        <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Art director</h4>

            <span>2013 — 2015</span>

            <p class="timeline-text">
                Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et
                quas molestias
                exceptur.
            </p>

        </li>

        <li class="timeline-item">

            <h4 class="h4 timeline-item-title">Web designer</h4>

            <span>2010 — 2013</span>

            <p class="timeline-text">
                Nemo enims ipsam voluptatem, blanditiis praesentium voluptum delenit atque corrupti, quos dolores et
                quas molestias
                exceptur.
            </p>

        </li>

    </ol>

</section>