<section class="timeline">
    {% include timeline/title.html.liquid title="Experience" %}
    <ol class="timeline-list">
        {% for experience in site.data.experience %}
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">{{ experience.position }}</h4>
                <span>{{ experience.dateStart }} — {{ experience.dateEnd }}</span>
                <p class="timeline-text">
                    {{ experience.description }}
                </p>
            </li>
        {% endfor %}
    </ol>
</section>