<section class="timeline">
    <div class="title-wrapper">
        <div class="icon-box">
            <ion-icon name="book-outline"></ion-icon>
        </div>
        <h3 class="h3">Education</h3>
    </div>
    <ol class="timeline-list">
        {% for education in site.data.education %}
            <li class="timeline-item">
                <h4 class="h4 timeline-item-title">{{ education.institute }}</h4>
                <span>{{ education.dateStart }} — {{ education.dateEnd }}</span>
                <p class="timeline-text">
                    {{ education.description }}
                </p>
            </li>
        {% endfor %}
    </ol>
</section>