<section class="service">
    <h3 class="h3 service-title">What i'm doing</h3>
    {% if site.data.services.size > 0 %}
    <ul class="service-list">
        {% for service in site.data.services %}
            <li class="service-item">
                <div class="service-icon-box">
                    <img src="{{ service.imageURL }}" alt="{{ service.title }} icon" width="40">
                </div>
                <div class="service-content-box">
                    <h4 class="h4 service-item-title">{{ service.title }}</h4>
                    <p class="service-item-text">{{ service.description }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
    {% else %}
        <p><i>Not found: add your services into the <code>_data/services.yml</code> file</i></p>
    {% endif %}
</section>