---
layout: default
---
<main>
    {% include sidebar.html.liquid %}
    <!--
      - #main-content
    -->
    <div class="main-content">

        {% include navbar.html.liquid %}

        <article class="about active" data-page="about">
            {% include home/about.html.liquid %}
            {% include home/services.html.liquid %}
            {% include home/testimonials.html.liquid %}
            {% include home/clients.html.liquid %}
        </article>

        <article class="resume" data-page="resume">
            <header>
                <h2 class="h2 article-title">Resume</h2>
            </header>
            {% include resume/timeline-education.html.liquid %}
            {% include resume/timeline-experience.html.liquid %}
            {% include resume/skills.html.liquid %}
        </article>

        <article class="portfolio" data-page="portfolio">
            <header>
                <h2 class="h2 article-title">Portfolio</h2>
            </header>
            <section class="projects">
                {% include projects/filters.html.liquid %}
                {% include projects/project-list.html.liquid %}
            </section>
        </article>

        <article class="blog" data-page="blog">
            <header>
                <h2 class="h2 article-title">Blog</h2>
            </header>
            {% include blog/posts.html.liquid %}
        </article>

        <article class="contact" data-page="contact">
            <header>
                <h2 class="h2 article-title">Contact</h2>
            </header>
            {% include contact/map.html.liquid %}
            {% include contact/form.html.liquid %}
        </article>
    </div>
</main>