<section class="clients">
    <h3 class="h3 clients-title">Clients</h3>
    <ul class="clients-list has-scrollbar">
        {% assign clientsSortedDESC = site.clients | sort: 'date' | reverse %}
        {% for client in clientsSortedDESC %}
            <li class="clients-item">
                <a href="#">
                    <img src="{{ client.logo }}" alt="{{ client.name }} logo" />
                </a>
            </li>
        {% endfor %}
    </ul>
</section>